<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sign up</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>

    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/css/form-elements.css}" href="../static/css/form-elements.css"
          rel="stylesheet"/>
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet"/>
    <link th:href="@{/css/core.css}" href="../static/css/core.css" rel="stylesheet"/>

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/sign-up">Geofencing Manager</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
        </div>
    </div>
</div>

<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Sign up</h3>
                    <p>Enter your data</p>
                </div>
                <div class="form-top-right">
                    <span class="glyphicon glyphicon-hdd"></span>
                </div>
            </div>
            <div class="form-bottom">
                <form id="signUpForm">
                    <div class="form-group">
                        <label class="sr-only" for="username">Nick</label>
                        <input type="text" name="username" placeholder="Nick..."
                               class="form-username form-control" id="username"/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" name="password"
                               placeholder="Password..." class="form-password form-control"
                               id="password"/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="first_name">First name</label>
                        <input type="text" name="first_name"
                               placeholder="First name..." class="form-control"
                               id="first_name"/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="last_name">Last name</label>
                        <input type="text" name="last_name"
                               placeholder="Last name..." class="form-control"
                               id="last_name"/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="birthday">Password</label>
                        <input type="text" name="birthday"
                               placeholder="Birthday..." class="form-control"
                               id="birthday"/>
                    </div>
                    <button type="submit" class="btn">Sign up!
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
<script th:src="@{/js/core.js}" src="../static/js/core.js"></script>
</body>
</html>