body {
    padding-top: 50px;
}

.col-sm-8 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm-4 {
    padding-left: 0px;
    padding-right: 0px;
}

#map-canvas {
    width: 100%;
    height: 100vh;
}